{% extends 'comercio/base.html' %}

{% load static %}

{% block contenido %}
<h1>Lista de Clientes</h1>
<img src="{% static 'comercio/img/usuarios.webp' %}" alt="" height="250px">
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
        {% for cliente in clientes %}
        <tr>
            <td>{{ cliente.id }}</td>
            <td>{{ cliente.nombre }}</td>
            <td>{{ cliente.apellido }}</td>
            <td>{{ cliente.email }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<a href="{% url 'comercio' %}"><button type="button">Volver al inicio</button></a>
<a href="{% url 'crear_cliente' %}"><button>Crear Nuevo Cliente</button></a>
{% endblock contenido %}