{% extends 'comercio/base.html' %}

{% load static %}

{% block contenido %}
<h1>Lista de Carritos</h1>
<img src="{% static 'comercio/img/carrito.jpg' %}" alt="" height="250px">
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Cliente</th>
            <th>Productos</th>
        </tr>
    </thead>
    <tbody>
        {% for carrito in carritos %}
        <tr>
            <td>{{ carrito.id }}</td>
            <td>{{ carrito.cliente.nombre }}</td>
            <td>
                <ul>
                    {% for relacion in carrito.carritoproducto_set.all %}
                        <li>{{ relacion.producto.nombre }} (Cantidad: {{ relacion.cantidad }})</li>
                    {% empty %}
                        <li>No hay productos en este carrito</li>
                    {% endfor %}
                </ul>
            </td>                   
        </tr>
        {% endfor %}
    </tbody>
</table>

<a href="{% url 'comercio' %}"><button type="button">Volver al inicio</button></a>
<a href="{% url 'crear_carrito' %}"><button>Crear Carrito</button></a>
{% endblock contenido %}