{% extends 'comercio/base.html' %}

{% load static %}

{% block contenido %}
<h1>Lista de Productos</h1>
<img src="{% static 'comercio/img/ropa.jpg' %}" alt="" height="300px">

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>Precio</th>
            <th>Stock</th>
        </tr>
    </thead>
    <tbody>
        {% for producto in productos %}
        <tr>
            <td>{{ producto.id }}</td>
            <td>{{ producto.nombre }}</td>
            <td>{{ producto.descripcion }}</td>
            <td>{{ producto.precio }}</td>
            <td>{{ producto.stock }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<a href="{% url 'comercio' %}"><button type="button">Volver al inicio</button></a>
<a href="{% url 'crear_producto' %}"><button>Crear Producto</button></a>
{% endblock contenido %}
